body {
  font-family: "Roboto", sans-serif;
  background-color: #621402;
  color: #fff;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("../img/bg.png") no-repeat center top / cover;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.nav-item {
  margin-right: 25px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 57px;
}

.user-block {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-hello {
  font-size: 16px;
  margin-right: 10px;
}

.user-img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.film-block {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.film-subtitle {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}

.film-description {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 47px;
  max-width: 570px;
}

.film-details {
  display: flex;
  align-items: center;
}

.film-trailer {
  margin: auto;
}

.time {
  display: flex;
  align-items: center;
}

.time-counter {
  margin-left: 14px;
  font-size: 16px;
  line-height: 150%;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}

.rating-current {
  margin-left: 12px;
  font-size: 24px;
  line-height: 150%;
}

.session {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 60px;
  padding-top: 46px;
  padding-bottom: 64px;
}

.session-label {
  font-size: 16px;
  line-height: 150%;
}

.session-date-block {
  display: flex;
}

.session-date-item {
  display: flex;
  flex-direction: column;
}
